<% include ../partials/header %> 

 <div class="container">
     <div class="text-center">
        <img class="logo" src="/images/logo.png"/>
     </div>
     <div class="text-center">
        <a class="btn btn-info btn-large btn-space" href="/trails/new">Share your favorite trail <i class="fas fa-plus"></i></a>
     </div>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% trails.forEach(function(trail){ %>
            <div class="col-md-6 col-sm-12">
                <div class="thumbnail">
                    <a href="/trails/<%= trail._id %>">
                        <img src="<%= trail.image %>">
                    </a>
                   <div class="caption">
                       <h4><%= trail.name %></h4>
                   </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
