<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Hike Trail Review!</h1>
             <p>View our hand-picked trails from your neck of the woods!</p>
             <p>
                <a class="btn btn-primary btn-large" href="/trails/new">Add New Trail</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% trails.forEach(function(trail){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= trail.image %>">
                   <div class="caption">
                       <h4><%= trail.name %></h4>
                   </div>
                   <p>
                       <a href="/trails/<%= trail._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
